
 
    <h1><%= title %></h1>
    



<br><br>

<form  method="post" ><span>LOGIN:-</span><br><br>
      <span>User Name</span>  <input type="text" name="user" >
      <span>Password</span>  <input type="password" name="psw">
      <input type="submit">
    </form>
    <%= edata %>



 
