<!DOCTYPE html>
<html>
  <head>
 

 <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <% include header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>



<br><br>

<form action="" method="post" onsubmit="enc();"><span>LOGIN:-</span><br><br>
      <span>user</span>  <input type="text" name="user" id="demo4">
      <span>password</span>  <input type="password" name="psw">
      <input type="submit" onsubmit="fun()">
    </form>

<div id="demo3"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
		<script>
		function fun(){
		confirm("some2");
		var x=document.getElementById("demo4").value;
    var encryptedAES = CryptoJS.AES.encrypt(x, "My Secret Passphrase");
   var decryptedBytes = CryptoJS.AES.decrypt(encryptedAES, "My Secret Passphrase");
   var plaintext = decryptedBytes.toString(CryptoJS.enc.Utf8);
	
	//document.getElementById("demo1").innerHTML = encryptedAES;
//document.getElementById("demo2").innerHTML = decryptedBytes;
//document.getElementById("demo3").innerHTML = plaintext;
//document.getElementById("demo4").value = encryptedAES;

}
		
</script>
  </body>
</html>
