<html>
<body>



<form method="post">
<table>
<tr><td>Contract ID:</td><td><input type="text" name="conid"></td></tr>
<tr><td>From Date:</td><td><input type="date" name="fdate"></td></tr>
<tr><td>To Date:</td><td><input type="date" name="tdate"></td></tr>
<tr><td><input type="submit"></td></tr>

</table>

</form>
</body>

</html>